<div class="cart-container">
  <div class="empty-cart-message" *ngIf="myProducts.length === 0">
    未添加任何商品
  </div>
  <div class="cart-item-details" *ngIf="myProducts.length > 0" >
    <div *ngFor="let product of myProducts" >  
      <div class="cart-item">
        <div><img src={{product.url}}></div>
        <div>
          <div>{{product.name}}</div>
          <div>${{product.price}}</div>
          <div>Amount: <input class="number-input" type="text" [value]="product.amount"[(ngModel)]="product.amount"></div>
        </div>
      </div>
    </div>
    <p class="total-panel">Total:$ {{totalAmount}}</p>
  </div>
  <form class="card-panel form-margin" *ngIf="myProducts.length > 0">
    <label>Full Name</label><br>
    <input type="text" placeholder="minimum 3 characters" value=""><br>
    <label>Address</label><br>
    <input type="text" placeholder="minimum 6 characters" value=""><br>
    <label>Credit card number</label><br>
    <input type="text" placeholder="16-digit number" value=""><br>
    <p class="info">We'll never share your payment details with anyone else.</p><br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>