img {
  border-radius: 10px;
  width: 320px;
}

.select-input {
  width: 108px; 
  height: 30px;
  margin-bottom: 8px;
}

.item-font{
  margin-bottom: 10px;
}

.detail-container {
  margin: 40px 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.detail-item {
  margin-left: 60px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
}